<footer class="sit-footer">
    <div class="outer-container">
        <div class="container-fluid">
            <div class="row footer-recent-posts">
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="footer-post-wrap flex justify-content-between">
                        <figure>
                            <a href="#"><img src="images/xfoot-1.jpg.pagespeed.ic.8-odbxEg11.webp" alt=""
                                    data-pagespeed-url-hash="1400521509"
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                        </figure>
                        <div class="footer-post-cont flex flex-column justify-content-between">
                            <header class="entry-header">
                                <div class="posted-date">
                                    January 30, 2018
                                </div>
                                <h3><a href="#">My fall in love story</a></h3>
                                <div class="tags-links">
                                    <a href="#">#winter</a>
                                    <a href="#">#love</a>
                                    <a href="#">#snow</a>
                                    <a href="#">#january</a>
                                </div>
                            </header>
                            <footer class="entry-footer">
                                <a class="read-more" href="#">read more</a>
                            </footer>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="footer-post-wrap flex justify-content-between">
                        <figure>
                            <a href="#"><img src="images/xfoot-2.jpg.pagespeed.ic.qKUmj1I1tF.webp" alt=""
                                    data-pagespeed-url-hash="1695021430"
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                        </figure>
                        <div class="footer-post-cont flex flex-column justify-content-between">
                            <header class="entry-header">
                                <div class="posted-date">
                                    January 30, 2018
                                </div>
                                <h3><a href="#">Man’s best friend</a></h3>
                                <div class="tags-links">
                                    <a href="#">#winter</a>
                                    <a href="#">#love</a>
                                    <a href="#">#snow</a>
                                    <a href="#">#january</a>
                                </div>
                            </header>
                            <footer class="entry-footer">
                                <a class="read-more" href="#">read more</a>
                            </footer>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="footer-post-wrap flex justify-content-between">
                        <figure>
                            <a href="#"><img src="images/xfoot-3.jpg.pagespeed.ic.cJzQXTydxe.webp" alt=""
                                    data-pagespeed-url-hash="1989521351"
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                        </figure>
                        <div class="footer-post-cont flex flex-column justify-content-between">
                            <header class="entry-header">
                                <div class="posted-date">
                                    January 30, 2018
                                </div>
                                <h3><a href="#">Writing on a budget</a></h3>
                                <div class="tags-links">
                                    <a href="#">#winter</a>
                                    <a href="#">#love</a>
                                    <a href="#">#snow</a>
                                    <a href="#">#january</a>
                                </div>
                            </header>
                            <footer class="entry-footer">
                                <a class="read-more" href="#">read more</a>
                            </footer>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="footer-post-wrap flex justify-content-between">
                        <figure>
                            <a href="#"><img src="images/xfoot-4.jpg.pagespeed.ic.B-OlbqyMpb.webp" alt=""
                                    data-pagespeed-url-hash="2284021272"
                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                        </figure>
                        <div class="footer-post-cont flex flex-column justify-content-between">
                            <header class="entry-header">
                                <div class="posted-date">
                                    January 30, 2018
                                </div>
                                <h3><a href="#">My fall in love story</a></h3>
                                <div class="tags-links">
                                    <a href="#">#winter</a>
                                    <a href="#">#love</a>
                                    <a href="#">#snow</a>
                                    <a href="#">#january</a>
                                </div>
                            </header>
                            <footer class="entry-footer">
                                <a class="read-more" href="#">read more</a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="footer-instagram flex flex-wrap flex-lg-nowrap">
                <figure>
                    <a href="#"><img src="images/xa.jpg.pagespeed.ic.vo7dyllEKK.webp" alt=""
                            data-pagespeed-url-hash="2675385620"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                </figure>
                <figure>
                    <a href="#"><img src="images/xb.jpg.pagespeed.ic.S1i60MFXsq.webp" alt=""
                            data-pagespeed-url-hash="2969885541"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                </figure>
                <figure>
                    <a href="#"><img src="images/xc.jpg.pagespeed.ic.0gwfKls-q9.webp" alt=""
                            data-pagespeed-url-hash="3264385462"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                </figure>
                <figure>
                    <a href="#"><img src="images/xd.jpg.pagespeed.ic.OE-P1bML_a.webp" alt=""
                            data-pagespeed-url-hash="3558885383"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                </figure>
                <figure>
                    <a href="#"><img src="images/xe.jpg.pagespeed.ic.SfXIwNGn5Q.webp" alt=""
                            data-pagespeed-url-hash="3853385304"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                </figure>
                <figure>
                    <a href="#"><img src="images/xf.jpg.pagespeed.ic.BAz0mE6Kbt.webp" alt=""
                            data-pagespeed-url-hash="4147885225"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                </figure>
                <figure>
                    <a href="#"><img src="images/xg.jpg.pagespeed.ic.9vAqwjCldW.webp" alt=""
                            data-pagespeed-url-hash="147417850"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                </figure>
            </div>
        </div>
    </div>
    <div class="footer-bar">
        <div class="outer-container">
            <div class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-6">
                        <div class="footer-copyright">

                            <p>Copyright ©
                                <script>document.write(new Date().getFullYear());</script>2021 All rights reserved |
                                This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a></p>

                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="footer-social">
                            <ul class="flex justify-content-center justify-content-md-end align-items-center">
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>