<div class="container-fluid">
        <div class="row">
            <div class="col-12">   
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="hero-content flex justify-content-center align-items-center flex-column">
                                <img style="object-fit: cover; max-height: 800px" src="images\_HMV8320_edited.jpg" alt="" width="100%" >
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="hero-content flex justify-content-center align-items-center flex-column">
                                <img style="object-fit: cover; max-height: 800px" src="images\slider.jpg" alt="" width="100%">
                            </div>
                        </div>
  
                        <div class="carousel-item">
                            <div class="hero-content flex justify-content-center align-items-center flex-column">
                                <img style="object-fit: cover; max-height: 800px" src="images\blog-image.jpg" alt="" width="100%">
                            </div>
                        </div>
                    </div>
  
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div><!-- .col -->
        </div><!-- .row -->
  

        <!-- subcribe -->
        <div class="container">
            <div class="row">
                <div class="offset-lg-9 col-12 col-lg-3">
                    <a href="#">
                        <div class="yt-subscribe">
                            <img src="../images/avatar.jpg" alt="avatar" style="min-width: 50%; max-width: 75%; border-radius: 50%;">
                            <h3>Subscribe</h3>
                            <p>To my Youtube Channel</p>
                        </div><!-- .yt-subscribe -->
                    </a>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .hero-section -->
